esphome:
  name: water-valve-controller

esp8266:
  board: d1_mini

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: "2yxnAlpr7yl+UPCAWZSUgeR+qTkZwmAeUHYrUf3NeeQ="

ota:
  password: "bb8ff150f1a35424fadf6f868b639b1a"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Water-Valve-Controller"
    password: "LAyDiFYYnWjK"

captive_portal:
    
switch:
  - platform: "gpio"
    id: "close_value"
    interlock: [open_value]
    pin: 
      number: D5
      mode: 
        output: True       
    # on_turn_on:
    # - delay: 10s
    # - switch.turn_off: close_value
    
  - platform: "gpio"
    id: "open_value"
    interlock: [close_value]
    pin: 
      number: D6
      mode: 
        output: True       
    # on_turn_on:
    # - delay: 10s
    # - switch.turn_off: open_value

  - platform: template
    id: main_water_valve
    name: "Main Water Valve"
    turn_on_action: 
      then:
        - switch.turn_on: open_value
    turn_off_action: 
      then:
        - switch.turn_on: close_value
    
  
binary_sensor:
  - platform: gpio
    pin: D0
    id: "D0_GPIO16"

  - platform: gpio
    id: "D1_GPIO5"
    pin:
      number: D1
      mode: 
        input: True
        pullup: True
    
  - platform: gpio
    id: "D2_GPIO4"
    pin:
      number: D2
      mode: 
        input: True
        pullup: True
    
  - platform: gpio
    id: "D3_GPIO0"
    pin:
      number: D3
      mode: 
        input: True
    
  - platform: gpio
    id: "D4_GPIO2"
    pin:
      number: D4
      mode: 
        input: True
    
  - platform: gpio
    pin: D7
    id: "D7_GPIO13"
    
  - platform: gpio
    pin: D8
    id: "D8_GIPO15"

sensor:
  - platform: adc
    pin: A0    
    id: water_pressure
    name: "Water Pressure"
    device_class: pressure        
    update_interval: 100ms
    unit_of_measurement: psi
    accuracy_decimals: 5
    filters: 
      - multiply: 90
      - sliding_window_moving_average: 
          window_size: 50
          send_every: 10            

  - platform: copy
    source_id: water_pressure
    id: water_pressure_median
    name: Water Pressure Median
    filters: 
      - median: 
          window_size: 10
          send_every: 10

  - platform: template
    id: water_pressure_delta
    name: "Water Pressure Delta"
    lambda: |-
      float median = id(water_pressure_median).state;
      float current = id(water_pressure).state;
      return median - current;
   

# web_server:
#   port: 80
