esphome:
  name: controller-test

esp8266:
  board: esp01_1m

# Enable logging
logger:
  baud_rate: 0

# Enable Home Assistant API
api:
  encryption:
    key: "lNR7KGt6WfyFSgDwbm4V8yMixeq4/T/rlJ+nOeUIumQ="

ota:
  password: "50683609897636e9e53e2a3b231e6a3b"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Controller-Test Fallback Hotspot"
    password: "d7MOXWbMalbD"

captive_portal:

web_server:
  port: 80

uart:
  - rx_pin: 3
    tx_pin: 1
    baud_rate: 115200

binary_sensor:
  - platform: gpio
    id: gpio12
    name: gpio12
    pin: 
      number: 12
      mode: 
        input: True
    device_class: power

  - platform: gpio
    id: gpio13
    name: gpio13
    pin: 
      number: 13
      mode: 
        input: True
    device_class: power

  - platform: gpio
    id: gpio0
    name: gpio0
    pin: 
      number: 0
      mode: 
        input: True
    device_class: power

  - platform: gpio
    id: gpio2
    name: gpio2
    pin: 
      number: 2
      mode: 
        input: True
    device_class: power

switch: 
  # - platform: uart
  #   id: v_open
  #   name: "Water On"
  #   disabled_by_default: True

  #   data: [0xA0,0x02,0x01,0xA3, 0xA0,0x01,0x01,0xA2] # r2-off, r1-on

  # - platform: uart
  #   id: v_close
  #   name: "Water Off"
  #   disabled_by_default: True
  #   data: [0xA0,0x01,0x00,0xA1, 0xA0,0x02,0x00,0xA2] # r1-off, r2-on


  - platform: template    
    id: valve_open
    name: "Valve Open"
    optimistic: True
    restore_state: True
    turn_on_action: 
      then:
        - lambda: id(valve_close).turn_off();
        - uart.write: [0xA0,0x01,0x01,0xA2] #r1-on
    turn_off_action: 
      then:
        - uart.write: [0xA0,0x01,0x00,0xA1] #r1-off

        
  - platform: template
    id: valve_close
    name: "Valve Close"
    optimistic: True
    restore_state: True
    turn_on_action: 
      then:
        - lambda: id(valve_open).turn_off();
        - uart.write: [0xA0,0x02,0x00,0xA2] #r2-on
    turn_off_action: 
      then:
        - uart.write: [0xA0,0x02,0x01,0xA3] #r2-off
        
  - platform: template
    id: water_switch
    name: "Water Switch"
    device_class: switch
    optimistic: True
    internal: False
    restore_state: True
    turn_on_action: 
      then:
        - lambda: id(valve_open).turn_on();
    turn_off_action: 
      then:
        - lambda: id(valve_close).turn_on();

        